# TP NoSQL

Prénom :

Nom : 

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [1]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyter==1.1.0 in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 1)) (1.1.0)
Requirement already satisfied: pandas==2.2.3 in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: pymongo==4.9.1 in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 3)) (4.9.1)
Requirement already satisfied: notebook in c:\programdata\anaconda3\lib\site-packages (from jupyter==1.1.0->-r requirements.txt (line 1)) (7.0.8)
Requirement already satisfied: jupyter-console in c:\programdata\anaconda3\lib\site-packages (from jupyter==1.1.0->-r requirements.txt (line 1)) (6.6.3)
Requirement already satisfied: nbconvert in c:\programdata\anaconda3\lib\site-packages (from jupyter==1.1.0->-r requirements.txt (line 1)) (7.10.0)
Requirement already satisfied: ipykernel in c:\programdata\anaconda3\lib\site-packages (from jupyter==1.1.0->-r requirements.txt (line 1)) (6.28.0)
Requirement already satisfied: ipywidgets in c:\programdata\anaconda3\lib\site-packages (from jupyter==1.1.0->-r requirements.txt (line 1)) (7.6.5)
Requirement already satisfied: jupyterlab in c:\programdata\anaconda3\lib\site-packages (from jupyter==1.1.0->-r requirements.txt (line 1)) (4.0.11)
Requirement already satisfied: numpy>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2023.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from pymongo==4.9.1->-r requirements.txt (line 3)) (2.6.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (8.20.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (5.5.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (1.6.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (23.1)
Requirement already satisfied: psutil in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (25.1.2)
Requirement already satisfied: tornado>=6.1 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (5.7.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets->jupyter==1.1.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets->jupyter==1.1.0->-r requirements.txt (line 1)) (5.9.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets->jupyter==1.1.0->-r requirements.txt (line 1)) (3.5.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets->jupyter==1.1.0->-r requirements.txt (line 1)) (3.0.9)
Requirement already satisfied: prompt-toolkit>=3.0.30 in c:\programdata\anaconda3\lib\site-packages (from jupyter-console->jupyter==1.1.0->-r requirements.txt (line 1)) (3.0.43)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from jupyter-console->jupyter==1.1.0->-r requirements.txt (line 1)) (2.15.1)
Requirement already satisfied: async-lru>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: jinja2>=3.0.3 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (3.1.3)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.2.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.10.0)
Requirement already satisfied: jupyterlab-server<3,>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.25.1)
Requirement already satisfied: notebook-shim>=0.2 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.2.3)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (4.1.0)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (0.1.2)
Requirement already satisfied: markupsafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (1.5.0)
Requirement already satisfied: tinycss2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (1.2.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.18.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.4.6)
Requirement already satisfied: platformdirs>=2.5 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (305.1)
Requirement already satisfied: anyio>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (4.2.0)
Requirement already satisfied: argon2-cffi in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (21.3.0)
Requirement already satisfied: jupyter-events>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.8.0)
Requirement already satisfied: jupyter-server-terminals in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.4.4)
Requirement already satisfied: overrides in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (7.4.0)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.14.1)
Requirement already satisfied: pywinpty in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.10)
Requirement already satisfied: send2trash>=1.8.2 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.17.1)
Requirement already satisfied: websocket-client in c:\programdata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.58.0)
Requirement already satisfied: babel>=2.10 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (4.19.2)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.31.0)
Requirement already satisfied: fastjsonschema in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets->jupyter==1.1.0->-r requirements.txt (line 1)) (2.16.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter==1.1.0->-r requirements.txt (line 1)) (0.2.5)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->jupyter==1.1.0->-r requirements.txt (line 1)) (2.5)
Requirement already satisfied: idna>=2.8 in c:\programdata\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\programdata\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (1.3.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.10.6)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\programdata\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\programdata\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\programdata\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.19.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2024.6.2)
Requirement already satisfied: argon2-cffi-bindings in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (21.2.0)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter==1.1.0->-r requirements.txt (line 1)) (0.2.2)
Requirement already satisfied: fqdn in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (1.5.1)
Requirement already satisfied: isoduration in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\programdata\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.1)
Requirement already satisfied: uri-template in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\gaspard.lugat\appdata\roaming\python\python311\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (24.8.0)
Requirement already satisfied: cffi>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\programdata\anaconda3\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter==1.1.0->-r requirements.txt (line 1)) (1.2.3)

In [3]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mango_user:EaHnlcFPj0coOvc9@cluster-but-sd.8r1up.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sdt'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'airbnb']

1. Combien de logements sont la base de données ?

In [5]:
print("Il y a", db.airbnb.count_documents({}), "logements")

Il y a 5555 logements

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [79]:
q2 = db.airbnb.aggregate([
    {"$group": { 
            "_id": "$address.market", 
            "Prix moyen": { "$avg": "$price"}
        }},
    {"$sort": {"Prix moyen": -1}}
])

print("À Hong Kong, le prix moyen est d'environ 762$.")
pd.DataFrame(list(q2))

À Hong Kong, le prix moyen est d'environ 762$.

                      _id                           Prix moyen
0               Hong Kong  762.4781906300484652665589660743134
1          Rio De Janeiro  525.8059701492537313432835820895522
2   Other (International)                               445.75
3                Istanbul  367.9454545454545454545454545454545
4                   Kauai  288.8208955223880597014925373134328
5                    Maui  286.5882352941176470588235294117647
6                    Oahu  212.2964426877470355731225296442688
7                  Sydney  197.7142857142857142857142857142857
8          The Big Island  179.4604316546762589928057553956835
9                New York  139.6260296540362438220757825370675
10       Other (Domestic)                               128.00
11                                                      115.50
12              Barcelona  100.9477848101265822784810126582278
13               Montreal  100.2330246913580246913580246913580
14                  Porto  69.12815884476534296028880866425993

3. Afficher la liste de tous les différents équipements qui existent.

In [77]:
q3 = db.airbnb.distinct(key="amenities")

print("Il existe 185 équipements différents, tels le wifi ou la climatisation.")
pd.DataFrame(list(q3))

                                              0
0
1                              24-hour check-in
2                         Accessible-height bed
3                      Accessible-height toilet
4                              Air conditioning
..                                          ...
181                                        Wifi
182                               Window guards
183                                      toilet
184  translation missing: en.hosting_amenity_49
185  translation missing: en.hosting_amenity_50

[186 rows x 1 columns]
Il existe 185 équipements différents, tels le wifi ou la climatisation.

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [81]:
q4 = db.airbnb.count_documents({
    "amenities": { "$eq": "Wifi" }
})

print("Il y a", q4, "logements incluant le wifi")

Il y a 5303 logements incluant le wifi

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [171]:
q5 = db.airbnb.find({}, {"_id": 0, "name": 1, "bedrooms": 1, "beds": 1})

print("Le logement 'Apt Linda Vista Lagoa - Rio' possède 1 chambre et 1 lit.")
pd.DataFrame(list(q5))

Le logement 'Apt Linda Vista Lagoa - Rio' possède 1 chambre et 1 lit.

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [135]:
q6 = db.airbnb.find({"address.market": {"$eq": "Porto"}}, {"name": 1, "price": 1})

print("À Porto, le prix du logement 'Ribeira Charming Duplex' est 80$.")
pd.DataFrame(list(q6))

À Porto, le prix du logement 'Ribeira Charming Duplex' est 80$.

          _id                                 name   price
0    10006546              Ribeira Charming Duplex   80.00
1    10083468                    Be Happy in Porto   30.00
2    10112159  Downtown Oporto Inn (room cleaning)   40.00
3    10269320                       FloresRooms 3T   31.00
4    10117617   A Casa Alegre é um apartamento T1.   40.00
..        ...                                  ...     ...
549   7927160         Number283 - Your home abroad   48.00
550   9983221        Cozy apartment downtown Porto   58.00
551   9379065                   Soares Guest House   90.00
552   9969335   Central, Modern, University, Metro   41.00
553   9917859     StayIN Oporto Música - Apartment  500.00

[554 rows x 3 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [125]:
q7 = db.airbnb.aggregate([
    {"$unwind": "$reviews"},
    { "$group": { "_id": "$_id", "nbCommentaires": { "$sum": 1 }}},
    { "$sort": { "nbCommentaires": -1 }},
    { "$limit": 5}
])

print("L'hôte 4069429 est le plus populaire avec 533 commentaires.")
pd.DataFrame(list(q7))

L'hôte 4069429 a reçu le plus de commentaires, à savoir 533.

        _id  nbCommentaires
0   4069429             533
1  12954762             469
2     95560             463
3    476983             420
4   5283892             408

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [169]:
q8 = db.airbnb.aggregate([
    { "$group": { "_id": "$address.market", "nb": { "$sum": 1 }}},
    { "$sort": { "nb": -1 }},
    { "$limit": 5}
])

print("Istanbul est la ville ayant le plus de logements disponibles à la location.")
pd.DataFrame(list(q8))

Istanbul est la ville ayant le plus de logements disponibles à la location.

         _id   nb
0   Istanbul  660
1   Montreal  648
2  Barcelona  632
3  Hong Kong  619
4     Sydney  609

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [131]:
q9 = db.airbnb.count_documents({
    "accommodates": {"$gt": 4},
    "security_deposit": {"$lt": 300.00}
})

print("Il y a", q9, "qui acceptent plus de 4 invités tout en ayant une caution inférieure à 300€.")

Il y a 451 qui acceptent plus de 4 invités tout en ayant une caution inférieure à 300€.

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

In [157]:
q10 = db.airbnb.aggregate([
    {"$unwind": "$reviews"},
    { "$group": { "_id": "$reviews.reviewer_id", "nbCommentaires": { "$sum": 1 }}},
    { "$sort": { "nbCommentaires": -1 }},
    { "$limit": 20}
])

pd.DataFrame(list(q10))

          _id
0   122625869
1   100045237
2   231395464
3     7335439
4    43939636
5   153589555
6    28246941
7    24523108
8    80846791
9    78367850
10   62724417
11   44436046
12   97364135
13   65322527
14   10677860
15  168435464
16   88416931
17     433286
18  169852896
19  177779657

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [165]:
q11 = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" }},
    { "$unwind": "$review_scores" },
    { "$group": { "_id": "_id", "score_moyen": { "$avg": "$review_scores" }}}
])

pd.DataFrame(list(q11))

   _id score_moyen
0  _id        None

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

In [181]:
q12 = db.airbnb.find({"name": {"$regex": "park"}}, {"name":1})

print("Il y a 47 logements qui contiennent le mot 'park' dans leur nom.")
pd.DataFrame(list(q12))

Il y a 47 logements qui contiennent le mot 'park' dans leur nom.

         _id                                               name
0    1070322                   Triple room Barcelona Guell park
1   10416859  Studio convenient to CBD, beaches, street park...
2   12774820                  Lachine room+Free parking+Airport
3   13227163               Apartment in the centre with parking
4   13852692     VERY LARGE 5 Bedroom Home, free onsite parking
5   13875927         TPC - Flying Leaves Balcony (free parking)
6   15206608  Bright,cozy,quiet,walking distance metro,park ...
7   15119850                  Apartment located near Guell park
8   15808180   Private Studio closed to town w/ compact parking
9   15997148  Huge kid-friendly Brooklyn home with parking/p...
10  16261574                     Amazing view Apt@ Olympic park
11  18599539              Luxury condo with free indoor parking
12  19337464  Bright & spacious 2 bed near Molson Park w/par...
13  19254909        Newly renovated cosy apartment with parking
14  18707992  Clean, bright & cozy bedroom /w convenient par...
15  19680142  Best location downtown + free parking - Esperanza
16  19963866          Palacio Garden's Apartment (Free parking)
17  21451259   Close to park and sea: Light and airy family apt
18  21536635             Charming apartment facing Laurier park
19  22265304            Manly Haven- Best Location with carpark
20  23149443      MILE-END ☀️Near MONTROYAL park☀️ FREE PARKING
21  23109052    7 guests at ville St-Laurent, with parking spot
22  24675658  Your place for Sea, Cellars & Porto! (parking ...
23  24579565                 Repos de Ouro  Street of city park
24  25148829  Terrace- park view, great location, quiet street.
25  25398833     Free parking free laundry at Dabin's Cozy Home
26  26565457        Maison de ville parking et à 2 pas du métro
27  26948900                 Homa 2 - 1 BR sleep 4 parking - AC
28  27983285   Amazing location, room for 3, w. private parking
29  26849639   Super bright apartment in quiet area facing park
30   3029260              Lovely apartment with private parking
31  30325676  Renovated sunny 3 Bedroom apartment - easy par...
32  29108266    Quiet spacious 1 bedroom apartment with parking
33  30533458     Penthouse Downtown with private indoor parking
34  29982730                 A Antiga Adega (parking available)
35  30515970    Luxury 2 bed 2 bath 1 parking in Allure Waikiki
36  30538139  Freshly renovated-3 bedroom-heart of MTL-parki...
37  32715595    Quiet house with parking near downtown Montreal
38  32835270      Lux 2 bedroom/2 bath/2 balconies/free parking
39   5837702                          2 Bedroom -guest parking.
40   6358160                     Lovely home with parking spot!
41   6626223            2 bedroom + 1 sofa, free car park place
42   7718248                4BR family home nr beaches and park
43   8427787       4 bedroom home W/diamond head view w/parking
44   9802077  Sydney Studio in Glebe Close to CBD. SparklinC...
45   9612902  1921 15kms from Sydney CBD with Pool Spa parking.
46   9810515                  Big 2bdm, Views, WIFI and carpark

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.

In [ ]:
q13 = db.airbnb.find({"and": {"$": "park"}}, {"name":1})

print("Il y a 47 logements qui contiennent le mot 'park' dans leur nom.")
pd.DataFrame(list(q12))